@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Menlo', monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #272722;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
}
